.font-lex{
    font-family: "Lexend", sans-serif;
}
.activeBTN{
    background: #b4f461;
    color: #000!important;
    border: none;
}
.btn:hover{
    background: #b4f461!important;
    color: #000; 
}

.glass{
    background: linear-gradient(135deg, rgba(60,60,60,0.1),rgba(60,60,60,0));
    backdrop-filter: blur(10px);
}